<footer>
    <div class="container-fluid bg-dark text-light">
        <div class="container mt-3">
        <div class="row">
            <div class="col-md-4 col-sm-12 pt-4">
                <center>
                <h5 class="h5 text-uppercase">Menu</h5>
                <hr style="width: 20%;">
                <p><a href="/" class="text-decoration-none text-light">Home</a></p>
                <p><a href="#" class="text-decoration-none text-light">Policy</a></p>
                <p><a href="#" class="text-decoration-none text-light">Contact Us</a></p>
            </center>
            </div>
            <div class="col-md-4 col-sm-12 pt-4">
                <center>
                <h5 class="h5 text-uppercase">Browse Jobs</h5>
                <hr style="width: 20%;">
                <p><a href="#" class="text-decoration-none text-light">Bank Jobs</a></p>
                <p><a href="#" class="text-decoration-none text-light">State Jobs</a></p>
                <p><a href="/" class="text-decoration-none text-light">Central Jobs</a></p>
            </center>
            </div>
            <div class="col-md-4 col-sm-12 pt-4">
            <center>
                <h5 class="h5 text-uppercase">More jobs</h5>
                <hr style="width: 20%;">
                <p><a href="#" class="text-decoration-none text-light">Railway Jobs</a></p>
                <p><a href="/" class="text-decoration-none text-light">Teaching Jobs</a></p>
                <p><a href="#" class="text-decoration-none text-light">Police/Defence Jobs</a></p>
            </center>
            </div>
        </div>
        </div>
    </div>
    <div class="container-fluid bg-dark border-top border-secondary py-2">
        <p class="text-light text-center my-0">Copyright © 2010-2021 FreeJobAlert.Com All Rights Reserved.</p>
    </div>
</footer>