<nav class="navbar navbar-expand-lg navbar-dark bg-primary">  
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/images/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            FreeJobAlert
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/education">Education</a>
          </li>
          <li class="nav-item dropdown me-3">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Jobs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/central-jobs">Central Govt Jobs</a></li>
              <li><a class="dropdown-item" href="/state-jobs">State Jobs</a></li>
              <li><a class="dropdown-item" href="/bank-jobs">Bank Jobs</a></li>
              <li><a class="dropdown-item" href="/teaching-jobs">Teaching Jobs</a></li>
              <li><a class="dropdown-item" href="/engineering-jobs">Engineering Jobs</a></li>
              <li><a class="dropdown-item" href="/railway-jobs">Railway Jobs</a></li>
              <li><a class="dropdown-item" href="/police-defence-jobs">Police/Defence Jobs</a></li>
            </ul>
          </li>
        </ul>
        <a href="/download" class="btn btn-dark">Download Mobile App</a>
      </div>
    </div>
  </nav>