<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">  
        <div class="container-lg py-2">
          <a class="navbar-brand" href="/">
            <img src="/images/ties.png" alt="tie" width="30" height="28" class="d-inline-block align-text-top">
            Free<span class="text-warning fw-bold">JobAlert</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/central-jobs">CENTRAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/state-jobs">STATE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/bank-jobs">BANK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/teaching-jobs">TEACHING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/railway-jobs">RAILWAY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/police-defence-jobs">POLICE-DEFENCE</a>
          </li>
      </div>
      <!-- <a href="/download" class="btn btn-light">Download Mobile App</a> -->
    </div>
  </nav>