<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs'); %>
  <title>Free Job Alert</title>
</head>
<body>
  
  <%- include('./partials/header.ejs'); %>
  <h1>Free Job Alert</h1>
</body>
</html>
