<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs'); %>
  <title>Free Job Alert</title>
</head>
<body>
  <h1>Free Job Alert </h1>
  <p>home page will be load soon :)</p>
  <%- include('./partials/header.ejs'); %>
  <% for(var i = 0; i < newsDatas.length; i++) {%>
    <li >
      <span><%= newsDatas[i].Title %></span>
    </li>
  <% } %>
  
</body>
</html>
