<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs'); %>
  <title>Free Job Alert</title>
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p class="para">hello world :)</p>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <%- include('./partials/header.ejs'); %>
  <h1>Free Job Alert</h1>
</body>
</html>
