<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <%- include('./partials/header.ejs'); %>
    <div class="container-fluid text-light bg-primary  py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h5>Punjab State Cooperative Bank Various Vacancy Admit Card 2021 – Exam Call Letter Download</h5>
            </div>
        </div>
    </div>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">

                <div class="alert alert-primary text-center" role="alert">
                    Name of the Post :<span class="text-dark px-3">OPSC Asst Conservator & Forest Ranger
                        DV & Viva Voce Dates Announced</span>
                </div>
                <div class="alert alert-danger text-center " role="alert">
                    Post Date :<span class="text-dark  px-3"> 30-01-2019</span>
                </div>
                <div class="alert alert-primary text-center" role="alert">
                    Latest Update :<span class="text-dark px-3">23-08-2021</span>
                </div>
                <div class="alert alert-danger text-center" role="alert">
                    Total Vacancy :<span class="text-dark px-3"> 67</span>
                </div>
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Brief Information :</h4>
                    <p>Odisha Public Service Commission (OPSC) has given an employment notification for the recruitment
                        of Assistant Conservator of Forests & Forest Ranger vacancies in Group A & B. Those Candidates
                        who are interested in the vacancy details & completed all eligibility criteria can read the
                        Notification & Apply Online.</p>


                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="alert alert-primary text-center" role="alert">
                                <h4>Odisha Public Service Commission (OPSC)</h4>

                                <p>Advt No. 22/2018-19</p>

                                <h5>Asst Conservator & Forest Ranger Vacancies 2019</h5>


                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-header text-center">
                                    Application Fee
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">For General/ Unreserved: Rs. 1000/-</li>
                                    <li class="list-group-item">For Other Backward Classes (OBC) – (NCL)/ Economically
                                        Weaker Section (EWS): Rs. 500/-</li>
                                    <li class="list-group-item">For SC/ ST/ PwD/ Transgender: Rs. 250/-</li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item"><div class="card">
                            <div class="card-header text-center">
                                Important Dates
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Starting Date to Apply Online: 15-02-2019</li>
                                <li class="list-group-item">Closing Date to Apply Online: 14-03-2019 till 11:59 PM</li>
                                <li class="list-group-item">Last Date for fee payment at any SBI Branch: 19-03-2019</li>
                                <li class="list-group-item">Date of Written Exam: 14-04-2019 (Changed to July-2019)</li>
                                <li class="list-group-item">New Dates for Written Exam: 20 to 31-12-2019</li>
                                <li class="list-group-item">Date of Physical Test: 19 to 28-07-2021</li>
                            </ul>
                        </div></li>
                        <li class="list-group-item"><div class="card">
                            <div class="card-header text-center ">
                                Age Limit (as on 01-01-2019)
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Minimum Age: 21 Years</li>
                                <li class="list-group-item">Maximum Age: 32 Years</li>
                                <li class="list-group-item">Age relaxation is applicable for SC/ ST/ SEBC/ PH candidates as per rules</li>
                                
                            </ul>
                        </div></li>
                        <li class="list-group-item"> <div class="alert alert-primary text-center" role="alert">
                            <h4 class="text-center">Qualification</h4>

                            Candidates who have secured at least 55% marks (without rounding off) in Master’s Degree or equivalent examination from universities/institutions recognized by UGC.


                        </div>
                    </li>
                          
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>