<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
    <title>State Jobs</title>
</head>

<body>
    <%- include('./partials/header.ejs'); %>
    <h1>State Govt Jobs</h1>
</body>